SPRING_PROFILES_ACTIVE=prod
DATABASE_URL=jdbc:mysql://<host>:<port>/<database>?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_USERNAME=<user>
DATABASE_PASSWORD=<password>
JWT_SECRET=<use-a-random-secret-with-at-least-32-characters>
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>
